<!-- This is views/created.ejs -->

<html>
<body>
<style>
body {
  background-color: #b3b3ff;
  padding: 50px;
  text-align: center;
}

p {
  color: white;
  font-family: Segoe UI, sans-serif;
  text-align: center;
  font-weight: bold;
  padding-bottom:20px;
}

h1 {
  text-align: center;
  color: white;
  font-family: Segoe UI, sans-serif;
  position: center;
  font-size: 60px;
  font-weight: bold;
}

a{
  font-size:13px;
  text-align: center;
  font-family: Segoe UI, sans-serif;
  font-weight: bold;
  position: center;
  text-decoration : none;
  text-align: center;
  padding:16px 32px;
  margin-right:3px;
  color:#fff;
  background: #587286;
  border:0;
  border-radius: 4px;
  display: inline-block;
}



</style>

<h1>Livraria</h1>

<p>Livro adicionado com sucesso</p> 

<p> 
<b>Título:</b> <%= livro.titulo %> <br> 
<b>Autor:</b>  <%= livro.autor  %> <br>
<b>Editora:</b>  <%= livro.editora  %> <br>
<b>Data:</b>  <%= livro.data %> <br>

<a href='/' id = "botao">Voltar</a> 
</body>
</html>